<app-modal [open]="open" [title]="title" (close)="onClose()">
  <div class="modal-body">
    <label>Contraseña actual</label>
    <input
      type="password"
      [(ngModel)]="currentPassword"
      placeholder="Ingresa tu contraseña actual"
    />

    <label>Nueva contraseña</label>
    <input
      type="password"
      [(ngModel)]="newPassword"
      placeholder="Ingresa tu nueva contraseña"
    />
  </div>
  <div modal-actions class="actions-row">
    <button
      class="btn btn-primary"
      (click)="onSubmit()"
      [disabled]="!currentPassword || !newPassword"
    >
      <span class="material-icons">save</span>
      Guardar
    </button>
    <button class="btn outline" (click)="onClose()">
      <span class="material-icons">close</span>
      Cancelar
    </button>
  </div>
</app-modal>
